<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <p>Esto es un esqueleto de un template.</p>
  <ul>
    {% for tweet in twitter %}
    <li>{{tweet.name }}</li>
    <p>{{tweet.content }}</p>
    {% endfor %}
  </ul>
</body>

</html> -->


{% extends "layout.html" %}

{% block content %}

<div class="page-header">
  <h1>Welcome to Twitter.js!</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
    <b>Your Name</b><br>
    100 followers
  </div>
  <div class="col-md-9">

    <!-- display tweets here -->
    {% for tweet in twitter %}

    <p class='content' class='by'>{{tweet.name}}</p>
    <p class='content'>{{tweet.content}}</p>
    {% endfor %}


  </div>
</div>

{% endblock %}